#emacs hooblab
auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el

#python hooblab
*.pyc

#Don't want to upload the site, do we?
site/
