<!DOCTYPE html>
<html>
	<head>
		<title>Admin</title>
		<style>
html {
	font-family:sans-serif;
	background-color:#EFEFEF;
	border-top:5px solid #FF9311;
}
a {
	text-decoration:none;
	color:#4183c4;
}
a:hover {
	text-decoration:underline;
}
a:visited {
	color:#4183c4;
}

#container {
	width:700px;
	margin:0 auto;
}
		</style>
	</head>
	<body>
	<div id="container">
	<a href="/admin" class="nav">Home</a>
	<plaintext>
<?php
if (isset($_POST['loc'])) {
	$posts = json_decode(file_get_contents($_POST['loc']),TRUE);
	parse_str(str_replace(",", "&", $_POST['vars']), $data);

	if (!(isset($data["title"]))) {
		$data["title"] = uniqid();
	}

	$posts[$data["post"]] = array_merge($data,array("content" => $_POST["post"]));
	$fp = fopen($_POST['loc'], 'w');
	fwrite($fp, json_encode($posts));
	fclose($fp);
	$output = json_decode(file_get_contents($_POST['loc']),TRUE);
	echo $output[$data["post"]]["content"];
}
echo shell_exec("build %destination% -d %root%");
?>

