<!DOCTYPE html>
<html>
  <head>
    <title>%title%</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>
  <body>
    %:header%
    {:
for i,x in sorted(pagedata.items(),reverse=True):
    l = i
    if page == "":page = "index"
    if str(i) == page: c = "current"
    else: c = ""

    if i == "index":
        i = ""
    i = "/"+i
    returns = "<a class=\"{}\" href=\"{}\">{}</a>&nbsp;".format(c, i, l) + returns
if page != "index":
    page = page + "/"
else:
    page = ""
returns = returns + "<a href=\"/{}all\">All posts</a>&nbsp<a href=\"/{}post\">Archive</a>".format(page,page)
    :}
    <div>
      %content%
    </div>
  </body>
</html>
